node_modules# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# .env file
.env

# dependencies
node_modules


# local env files
.env.*


### VisualStudioCode template
.vscode/*


# Submodules
.gitmodules
apps/website
apps/console
apps/auth

# Yarn Modern
yarn.lock

